
	body{background-color: rgb(209, 241, 241);}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: lato;
}
#box{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
#box div{
    position: relative;
    height: 100%;
}
.content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 40px;
}
.content h1 {
font-size: 80px;
font-weight: bold;
color: #e41212;
text-transform: uppercase;
    margin-bottom: 40px;
}
.content h2 {
font-size: 60px;
font-weight: bold;
color: #262626;
text-transform: uppercase;
    margin-bottom: 40px;
}
.content h5 {
font-size: 50px;
font-weight: bold;
color: #262626;
text-transform: uppercase;
    margin-bottom: 40px;
}
#about .content h1,
#portfolio .content h1,
#services .content h1,
#contact .content h1{
    color: #0c31aa;
}
.content p {
line-height: 1.5;
margin: auto;
color: #000;
}
ul {
padding: 0;
text-align: center;
position: fixed;
margin: 2% auto;
z-index: 1;
width: 1100px;
left: 0;
right: 0;
    font-family: lato;
}
ul li{
    list-style: none;
    display: inline-block;
}

ul li a {
display: block;
text-decoration: none;
height: 45px;
font-size: 20px;
background: #fff;
width: 200px;
color: #262626;
margin: 4px 0;
text-transform: uppercase;
line-height: 45px;
}
ul li a:hover{
    background: rgb(240, 18, 18);
    text-decoration: none;
    color: #fff;
}
#home{
    background-image: url(1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
#about,
#contact
{
background: #f3f3f3;
}

